# Temporary files for agents
.cache/

# Individual go.sum files already provide integrity checking per module,
# so go.work.sum is unnecessary.
go.work.sum

# Property-based tests, verifiers etc.
## Rapid PBT library (Go)
**/testdata/rapid/**/*.fail

# Editors
## Snapshots from Vim etc.
**/*.swp
## IntelliJ/GoLand
.idea/

# Dependencies
node_modules/

# Build outputs

## Accidentally built binaries
## Related: TODO(issue: https://github.com/typesanitizer/happygo/issues/162)
## The linter should probably also check that this .gitignore
## is in sync based on where 'go build' command outputs generally go.
/happydo
/misc/happydo
